@use './vars' as vars;
@use './mixins' as breakpoints;


.container{
    min-height: 60vh;
    max-height: 100vh;
    width: 100%;
    display: flex;
    place-content: center;

    & > section{
        height: fit-content;
        padding: 10rem 0;

        h2{
            font-family: 'NewYork', sans-serif;
            font-size: 6rem;
            margin-bottom: 1rem;
            color: vars.$logo-color;
            text-transform: uppercase;
        }

        p{
            font-size: 2rem;
            color: vars.$black-light;
            text-transform: capitalize;
            text-align: center;
        }
    }
}