@use './mixins' as breakpoints;
@use './vars' as vars;

.nav{
    --navigation-padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--navigation-padding) 0;

    &>section{
        display: flex;
        gap: 2rem;
    }

    

    .link{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8em;
        letter-spacing: 0.2px;
        cursor: pointer;
        position: relative;
        color: vars.$black-light;

        &::after{
            content: "";
            width: 0%;
            bottom: -10px;
            height: 3px;
            left: 0;
            opacity: 0;
            transition: all 200ms ease-in;
            background-color: vars.$logo-color;
            position: absolute;
        }

        &:is(:hover, :active, :focus)::after{
            width: 100%;
            opacity:1;
        }
    }
}

.logo{
    width: 12rem;
    height: auto;
    max-width: 100%;
    cursor: pointer;
}

.iconContainer{
    display: flex;
    align-items: center;
}

.flex{
    gap: 2rem;
    display: flex;
    align-items: center;
}

.navIcon{
    width: 2.5rem;
    height: auto;
    max-width: 100%;
    cursor: pointer;
}
